[DEFAULT]
# -----------------------------
default_host = 10.2.218.56
default_port = 27017
default_username = i24-data
readonly_user =  readonly
default_password = mongodb@i24

gt_collection = ground_truth_three
raw_collection = raw_trajectories_three
stitched_collection = stitched_three
reconciled_collection = reconciled_trajectories
db_name = trajectories

# -- schema path is relative to _test folder
#raw_schema_path = config/raw_schema.json
#stitched_schema_path = config/stitched_schema.json
#reconciled_schema_path = config/reconciled_schema.json

# -----------------------------
# -- define at mp queue related parameters 
raw_trajectory_queue_size = 10000
stitched_trajectory_queue_size = 10000
reconciled_trajectory_queue_size = 1000
raw_trajectory_queue_get_timeout = 2
stitched_trajectory_queue_put_timeout = 20
stitched_trajectory_queue_get_timeout = 100


# -----------------------------
# -- live data feed parameters
# seconds interval to batch query and refill raw_trajectories_queue
range_increment = 10
buffer_time = 10
# Buffer queue size for live_data_read
min_queue_size = 1000

# -----------------------------
# -- stitcher algorithm parameters
time_win = 8
thresh = 10
varx = 0.01
vary = 0.005
# if tail_time of a path has not changed after idle_time, then write to database
# if idle_time is too short, stitcher tends to under stitch
idle_time = 8
inclusion = 0
fragment_attr_name = id



# -----------------------------
# -- reconciliation paramaters
reconciliation_pool_size = 4
reconciliation_timeout = 15
lam2_x = 1.67e-2
lam2_y = 1.67e-2
lam1_x = 0.0012
lam1_y = 0.0012
ph = 100
ih = 20


[TEST]
# -- schema path is relative to _test folder
raw_schema_path = ../config/raw_schema.json
stitched_schema_path = ../config/stitched_schema.json
reconciled_schema_path = ../config/reconciled_schema.json
raw_trajectory_queue_get_timeout = 1
fragment_attr_name = id



[DEBUG]
# -- schema path from root directory
raw_schema_path = raw_schema.json
stitched_schema_path = stitched_schema.json
reconciled_schema_path = reconciled_schema.json
raw_trajectory_queue_get_timeout = 0.1
fragment_attr_name = id

[PROD]







[SCHEMA]
# -----------------------------
default_host = str
default_port = int
default_username = str
readonly_user =  str
default_password = str

gt_collection = str
raw_collection = str
stitched_collection = str
reconciled_collection = str
db_name = str

# -- schema path is relative to _test folder
raw_schema_path = str
stitched_schema_path = str
reconciled_schema_path = str

# -----------------------------
# -- define at mp queue related parameters 
raw_trajectory_queue_size = int
stitched_trajectory_queue_size = int
reconciled_trajectory_queue_size = int
raw_trajectory_queue_get_timeout = float
stitched_trajectory_queue_put_timeout = float
stitched_trajectory_queue_get_timeout = float


# -----------------------------
# -- live data feed parameters
# seconds interval to batch query and refill raw_trajectories_queue
range_increment = int
buffer_time = int
# Buffer queue size for live_data_read
min_queue_size = int

# -----------------------------
# -- stitcher algorithm parameters
time_win = float
thresh = float
varx = float
vary = float
# if tail_time of a path has not changed after idle_time, then write to database
# if idle_time is too short, stitcher tends to under stitch
idle_time = float
inclusion = float
fragment_attr_name = str


# -----------------------------
# -- reconciliation paramaters
reconciliation_pool_size = int
reconciliation_timeout = float
lam2_x = float
lam2_y = float
lam1_x = float
lam1_y = float
ph = int
ih = int

