[DEFAULT]
#mode = hard_stop
mode = soft_stop
#mode = finish

# ----------database-------------------
raw_collection = pristine_stork--RAW_GT1
host = 10.2.218.56
port = 27017
username = i24-data
password = mongodb@i24
database_name = trajectories
server_id = 1
session_config_id = 1
	

# -- schema path is relative to config folder
raw_schema_path = raw_schema.json
stitched_schema_path = stitched_schema.json
reconciled_schema_path = reconciled_schema.json

# ------------manager-----------------
# -- define at mp queue related parameters 
raw_trajectory_queue_size = 10000
stitched_trajectory_queue_size = 10000
reconciled_trajectory_queue_size = 1000
raw_trajectory_queue_get_timeout = 2
stitched_trajectory_queue_put_timeout = 20
stitched_trajectory_queue_get_timeout = 100


# ------------static_data_feed-----------------
# -- static collection data feed parameters
# seconds interval to batch query and refill raw_trajectories_queue
range_increment = 10
buffer_time = 10
min_queue_size = 10000


# ------------live_data_feed-----------------
# -- live data feed parameters
# seconds interval to batch query and refill raw_trajectories_queue
range_increment = 1
buffer_time = 10
# Buffer queue size for live_data_read
min_queue_size = 10000

# ------------stitcher-----------------
# -- stitcher algorithm parameters
time_win = 8
varx = 70
vary = 10
inclusion = 0
fragment_attr_name = id
raw_trajectory_queue_get_timeout = 10
residual_threshold_x = 5
residual_threshold_y = 1
conf_threshold = 0.5
remain_threshold = 5


# -----------reconciliation------------------
# -- reconciliation paramaters
stitched_trajectory_queue_get_timeout = 15
reconciliation_pool_size = 10
lam2_x = 1.67e-2
lam2_y = 1.67e-2
lam1_x = 0.0012
lam1_y = 0.0012
ph = 100
ih = 20


[TEST]

[DEBUG]

[PROD]







[SCHEMA]
mode = str
# -----------------------------
raw_collection = str

# -- schema path is relative to _test folder
raw_schema_path = str
stitched_schema_path = str
reconciled_schema_path = str

# -----------------------------
# -- define at mp queue related parameters 
raw_trajectory_queue_size = int
stitched_trajectory_queue_size = int
reconciled_trajectory_queue_size = int
raw_trajectory_queue_get_timeout = float
stitched_trajectory_queue_put_timeout = float


# -----------------------------
# -- live data feed parameters
# seconds interval to batch query and refill raw_trajectories_queue
range_increment = int
buffer_time = int
# Buffer queue size for live_data_read
min_queue_size = int

# -----------------------------
# -- stitcher algorithm parameters
stitched_trajectory_queue_get_timeout = float
time_win = float
thresh = float
varx = float
vary = float
residual_threshold_x = float
residual_threshold_y = float
conf_threshold = float
remain_threshold = int
# if tail_time of a path has not changed after idle_time, then write to database
# if idle_time is too short, stitcher tends to under stitch
idle_time = float
inclusion = float
fragment_attr_name = str


# -----------------------------
# -- reconciliation paramaters
reconciliation_pool_size = int
reconciliation_timeout = float
lam2_x = float
lam2_y = float
lam1_x = float
lam1_y = float
ph = int
ih = int

